.expandable-table {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.expandable-table--row {
  width: 100%;
  padding: 20px 10px;
  min-height: 60px;
}

.expandable-table--row:hover {
  background-color: rgb(245, 246, 252);
}

.course-row {
  padding: 20px;
  border-top: "1px solid #DFE0EB";
}

.course-row:hover {
  background: #e4e4e4;
}

.expandable-table--row img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.expandable-table-cell {
  display: inline-block;
  text-align: justify;
  width: 23%;
  max-width: 23%;
}

.students-table--header th {
  font-weight: 500;
  color: #9fa2b4;
}

.students-table.table-hover thead tr:hover td,
.students-table.table-hover thead tr:hover th {
  background: white;
}

.students-table.table-hover tbody tr:hover td,
.students-table.table-hover tbody tr:hover th {
  background-color: rgb(245, 246, 252);
}

.students-table tr {
  border-bottom: 1px solid #dfe0eb;
  height: 70px;
}

.courses-table {
  width: 100%;
}

.courses-table tr {
  border: 0;
  height: 60px;
}
