.top-submenu {
  margin: 20px 30px 0px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.top-submenu--search-icon {
  color: #c5c7cd;
}

.top-submenu--profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.top-submenu--profile-name {
  margin-right: 10px;
  margin-bottom: 0;
}
