@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,700&display=swap");

html,
body,
#root,
.app-container,
.page-container {
  min-height: 100vh;
}

body {
  font-family: "Muli", sans-serif;
}

.dark-gray {
  color: #9fa2b4;
}

.app-container {
  display: flex;
}

.white-frame {
  background: white;
  min-height: 85vh;
  padding: 30px 30px;
  border-radius: 20px;
  margin: 15px;
}

.page-container {
  background: rgb(247, 248, 252);
  flex: 1;
}
