html,
body,
#root,
.app-container,
.page-container {
  min-height: 100vh;
}

.app-container {
  display: flex;
}

.white-frame {
  background: white;
  min-height: 85vh;
  padding: 30px 20px;
  border-radius: 20px;
  margin: 15px;
}

.page-container {
  background: #e5e5e5;
  flex: 1;
}
